# This is a basic workflow to help you get started with Actions
name: remote ssh command
# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: executing remote ssh commands using password
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        script: |
          cd ~
          cd express-docker-app
          git pull
          docker build -t node-app .
          docker stop yeet
          docker rm yeet
          docker run --name yeet --env-file .env -p 80:8080 -d node-app
